<footer class="footer bg-primary text-white py-3 mt-auto">
    <div class="container">
        <p class="">&copy 2021 Laundry Services</p>
        <!-- <p >Dublin, Ireland</p> -->
        
            <i class="fas fa-map-marker-alt"></i><p class="d-inline"> Dublin, Ireland </p><br>
          <i class="fas fa-phone"></i><p class="d-inline"> (353) 1-123456      </p><br>
          <i class="fas fa-mail-bulk"></i><p class="d-inline"> info@laundryservices.com      </p><br>
          <i class="fab fa-facebook-square"></i><p class="d-inline"> facebook.com/laundryservices2021      </p>
        
        
    </div>
    
</footer>